.tabela {
  display: flex;
  flex-direction: column;
  margin: 50px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

table {
  float: left;
  margin-right: 10px;
}

/*.container label,*/
.container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

h2{
  margin-left: 153px;
}