/* milhas.component.css */
.container {
  display: table;
  margin: 0px;
  border-collapse: collapse;
}

.container label,
.container input {
  display: table-cell;
  padding: 5px;
  border: 1px solid #ccc;
}

.container label {
  text-align: center;
}

.container input {
  width: 100%;
}

.container p {
  margin: 5px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
