<nav>
  <ul>
    <li><a class="routerLink" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Página Inicial</a></li>
    <li>
      <div class="dropdown">
        <a class="dropdown-toggle">Milhas<span class="caret"></span></a>
        <div class="dropdown-content">
          <a class="routerLink" routerLink="/milhas">Transferência Bonificada</a>
        </div>
      </div>
    </li>
    <li><a class="routerLink" routerLink="/apigithub" routerLinkActive="active">Api GitHub</a></li>
    <li><a class="routerLink" routerLink="/controlemensal" routerLinkActive="active">Controle Mensal</a></li>
    <li><a class="routerLink" routerLink="/about" routerLinkActive="active">Sobre Mim</a></li>
  </ul>
</nav>
